﻿@using Domain.Entidades

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Página Inicial</h1>
@Html.ActionLink("RegistrarMedicamento", "RegistrarMedicamento", "Medicamento")
<div>
</div>
</body>
</html>
